<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AuthUrl" value="https://jaywtgb2c.b2clogin.com/jaywtgb2c.onmicrosoft.com/B2C_1A_SIGNUP_SIGNIN/v2.0/"/>
        <add key="ClientId" value="4a02e648-e55a-4633-9512-665620e7bb08"/>
        <add key="DomainHint" value="Azure"/>
        <add key="RedirectUrl" value="http://127.0.0.1/CargowiseOne/Authorize/"/>
        <add key="AccessTokenEndpoint" value="https://login.microsoftonline.com/804a70cf-4a61-4a08-908e-a32b2cff8131/oauth2/v2.0/token"/>
        <add key="AccessTokenAzp" value="4a02e648-e55a-4633-9512-665620e7bb08"/>
        <add key="AccessTokenAudience" value="3a3eae3b-2640-4a5c-9e0f-23d2ffaa4f38"/>
    </appSettings>
</configuration>