<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AccessTokenEndpoint" value="https://login.microsoftonline.com/1b20b87e-cebd-43cc-97bd-bdd41a2f5cf1/oauth2/v2.0/token"/>
		<add key="AccessTokenAzp" value="1ea87124-00e3-480a-a700-0d8938fd5377"/>
		<add key="AccessTokenAud" value="9a6ebfef-9638-4fdd-95bb-5394926c0422"/>
		<add key="AccessTokenPrivateKeyPath" value="private.key"/>
		<add key="AccessTokenCertificatePath" value="certificate.cer"/>
	</appSettings>
</configuration>